<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>注意事项</string>
			<key>subtitle</key>
			<string>爱家要装修，先来了解这十个注意事项吧！</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>装修流程</string>
			<key>subtitle</key>
			<string>装修要分八步走，每步要点都要记牢。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>验房常识</string>
			<key>subtitle</key>
			<string>新房到手要验收？这八个方面你检查了吗？</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>公司挑选</string>
			<key>subtitle</key>
			<string>挑选装修公司别纠结，五步练就火眼金睛。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>风格设计</string>
			<key>subtitle</key>
			<string>九中常见设计风格，每种风格特点告诉你。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>预算知识</string>
			<key>subtitle</key>
			<string>省钱算盘要打响，装修预算就是要这么省。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>合同知识</string>
			<key>subtitle</key>
			<string>擦亮眼睛防上当，装修合同大陷阱细细数。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>土巴兔平台辅助教材使用标准</string>
			<key>subtitle</key>
			<string>凡是土巴兔平台的家装公司将遵循土巴兔最新标准。</string>
			<key>headimage</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>注意事项</string>
			<key>subtitle</key>
			<string>拆改不是要拆房，这些方面还需要多注意！</string>
			<key>headimage</key>
			<string>http://pic.to8to.com/attch/day_150624/20150624_08ba34c0fd71646462c9Wx8QVjpWo6ON.jpg</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>交底内容</string>
			<key>subtitle</key>
			<string>装修别马虎，四大步骤教您做好三方交底。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>施工工序</string>
			<key>subtitle</key>
			<string>正确拆改要这样做，避免交叉污染再拆除。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>验收标准</string>
			<key>subtitle</key>
			<string>五大标准要对照好，房屋拆改才能算成功。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>材料预定</string>
			<key>subtitle</key>
			<string>主材料预定安装要提前，装修进度才有保障。</string>
			<key>headimage</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>注意事项</string>
			<key>subtitle</key>
			<string>水电改造学问大，哥哥注意事项先学起来。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>施工工序</string>
			<key>subtitle</key>
			<string>水电施工五步走，每步做好工程才有保障。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>施工工艺</string>
			<key>subtitle</key>
			<string>水路电路施工各不同，各类知识告诉你。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>材料知识</string>
			<key>subtitle</key>
			<string>水电分类各有不同，材料选购别被迷了眼。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>验收标准</string>
			<key>subtitle</key>
			<string>水电验收很重要，几个检查标准必须知道。</string>
			<key>headimage</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>注意事项</string>
			<key>subtitle</key>
			<string>泥工工程费时又费力，七大事项要先知道。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>施工工序</string>
			<key>subtitle</key>
			<string>泥木施工流程全知道，防水最好先做泥木。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>泥木工艺</string>
			<key>subtitle</key>
			<string>泥工施工工艺大解析，干铺湿铺先学起来。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>木工工艺</string>
			<key>subtitle</key>
			<string>木工还可以这样做，史上最全工艺告诉你。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>材料知识</string>
			<key>subtitle</key>
			<string>主材选购大揭秘，这些选购技巧你要知道。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>验收标准</string>
			<key>subtitle</key>
			<string>泥木验收知识知多少，十四条准则要看好。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>混凝土施工</string>
			<key>subtitle</key>
			<string>混凝土也叫砼，在我国的一些施工工程方面有重要作用。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>土工布施工方法</string>
			<key>subtitle</key>
			<string>今天，土巴兔为大家带来是关于土工的施工方法。</string>
			<key>headimage</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>注意事项</string>
			<key>subtitle</key>
			<string>油漆施工复杂又繁琐，六大事项要多注意。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>施工工序</string>
			<key>subtitle</key>
			<string>油漆涂刷流程告诉你，木漆乳胶漆各不同。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>施工工艺</string>
			<key>subtitle</key>
			<string>油漆工艺花样多，三大涂法你一定要知道。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>材料知识</string>
			<key>subtitle</key>
			<string>油漆选购真假难辨？学会选购窍门很简单。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>验收标准</string>
			<key>subtitle</key>
			<string>油漆验收知识懂多少，十二事项不能忽略。</string>
			<key>headimage</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>注意事项</string>
			<key>subtitle</key>
			<string>竣工验收检查须谨慎，查漏补缺一个别漏。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>施工工序</string>
			<key>subtitle</key>
			<string>新房家居进门忙安装，十项环节祝你无忧。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>材料知识</string>
			<key>subtitle</key>
			<string>家居选购技巧大揭秘，八项秘诀防止上当。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>验收标准</string>
			<key>subtitle</key>
			<string>竣工验收流程攻略详解，终极检查要小心。</string>
			<key>headimage</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>注意事项</string>
			<key>subtitle</key>
			<string>完美软装的六大原则，助你打造家装空间。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>家居布局</string>
			<key>subtitle</key>
			<string>家居风水有讲究，五个细节助你幸福平安。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>颜色搭配</string>
			<key>subtitle</key>
			<string>装修颜色巧搭配，家居幻彩DIY更出彩。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>家居挑选</string>
			<key>subtitle</key>
			<string>家居选购有诀窍，留个妙计保管使用划算。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>婴儿房布置</string>
			<key>subtitle</key>
			<string>打造温馨婴儿房，安全师首要考虑的因素。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>饰品搭配</string>
			<key>subtitle</key>
			<string>软装搭配有技巧，五个搭配要点你别忽视。</string>
			<key>headimage</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>注意事项</string>
			<key>subtitle</key>
			<string>做好新房入住预备工作，甲醛去味不可少。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>保养指南</string>
			<key>subtitle</key>
			<string>十条装修后保养心得，美好生活由此开始。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>新房清洁</string>
			<key>subtitle</key>
			<string>开荒保洁多注意，九个方法助你轻松清洁。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>室内绿植</string>
			<key>subtitle</key>
			<string>12种净化空气的植物，健康长寿美家居。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>搬家技巧</string>
			<key>subtitle</key>
			<string>搬家必知这些，省力省心省时间。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>搬家流程</string>
			<key>subtitle</key>
			<string>搬家搬场要注意，这些搬家流程莫忽视。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>如何注意餐厅的桌椅搭配？</string>
			<key>subtitle</key>
			<string>餐厅的桌椅搭配是很多人的苦恼，教你完美搭配。</string>
			<key>headimage</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>房间使用落地窗好不好？</string>
			<key>subtitle</key>
			<string>教您如何落地窗的使用场合。</string>
			<key>headimage</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
