<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filename</key>
		<string>http://pic.to8to.com/xiaoguotu_topic/2015/12/28/day151228055659_127022_img_for_mobile.jpg</string>
		<key>summary</key>
		<string>40平不到的居家空间，须满足两大房的格局需求以及足够的收纳量，却又不能让空间感显得过于窒碍，因此设计师以轻浅明亮的用色作为整体基调，浅色系统柜搭佐温润原木，增添空间的温馨暖度，并局部透过文化石、家具与软装的布置，塑造出清新悠然的北欧况味。</string>
		<key>webUrl</key>
		<string>http://m.to8to.com/xiaoguotu/topic/7058.html</string>
		<key>title</key>
		<string>小家庭的完美居宅</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>http://pic.to8to.com/xiaoguotu_topic/2015/12/28/day151228054101_198401_img_for_mobile.jpg</string>
		<key>title</key>
		<string>巴厘岛度假风格</string>
		<key>webUrl</key>
		<string>http://m.to8to.com/xiaoguotu/topic/7052.html</string>
		<key>summary</key>
		<string>设计师为营造出休闲感，空间内采用开放式设计，隔间墙面甚少出现。木作结合石材打造而成的双面式电视墙，与洞石沙发背墙相对应，造型刻意不做满，带来通透的视线。电视墙后方即为餐厨区，将廊道打造成如休闲酒吧的吧台区，模糊空间的界限和分野，塑造出精品住宅风格。</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>http://pic.to8to.com/xiaoguotu_topic/2015/12/28/day151228052718_593874_img_for_mobile.jpg</string>
		<key>title</key>
		<string>北欧摩登轻混搭</string>
		<key>webUrl</key>
		<string>http://m.to8to.com/xiaoguotu/topic/7051.html</string>
		<key>summary</key>
		<string>北欧风格与现代设计一向是许多人的居家设计向往，透过本案设计师的巧思，成功调和北欧自然元素与现代简约风格，满足屋主个人偏爱木质感设计的同时，无形中注入风水元素，营造出丰富活泼的楼中楼空间。&quot;,@&quot;title3&quot;:@&quot;现代与新古典相会</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>http://pic.to8to.com/xiaoguotu_topic/2015/12/28/day151228043802_632243_img_for_mobile.jpg</string>
		<key>summary</key>
		<string>整体空间以黑白色系作为描绘，共谱清新且时尚的生活况味，结合男女屋主对室内空间的喜好与需求，撷取利落线条的现代风尚，以及轻快节奏的新古典特质，透过两者对比的风格作为互补与相融，交会出简约中带有华丽质感，优雅氛围里又注入个人化的时尚作风。</string>
		<key>webUrl</key>
		<string>http://m.to8to.com/xiaoguotu/topic/7048.html</string>
		<key>title</key>
		<string>现代与新古典相会</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>http://pic.to8to.com/xiaoguotu_topic/2015/12/25/day151225050648_542300_img_for_mobile.jpg</string>
		<key>summary</key>
		<string>为了实现新古典风格植入小巧的居家生活里，将客、餐空间规划于一室，透过白色系大量铺陈，并以镜面与灰镜妆点空间，平价的装修却富有优质成效，完成一处微型的风格雅居。</string>
		<key>webUrl</key>
		<string>http://m.to8to.com/xiaoguotu/topic/7047.html</string>
		<key>title</key>
		<string>白色浪漫华尔兹</string>
	</dict>
</array>
</plist>
