<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h1s1i0</string>
			<key>name</key>
			<string>客厅</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/06/20160106_1fbb83c7c4d4eb631144lzhpnzu6bos0.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h1s2i0</string>
			<key>name</key>
			<string>卧室</string>
			<key>imageurl</key>
			<string>http://pic1.to8to.com/case/1601/06/20160106_daa4dc06cdfeca3d41550w63g3mehoi3.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h1s3i0</string>
			<key>name</key>
			<string>餐厅</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/06/20160106_27437b6119e7adc15dc48838fg0dc9lu.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h1s4i0</string>
			<key>name</key>
			<string>厨房</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/06/20160106_4f946e0d85ce7a042850wi7xmay3bhq7.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h1s5i0</string>
			<key>name</key>
			<string>卫生间</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/03/20160103_a1dd8f7b1f5d09265e62tbi67mwjrxt3.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h1s6i0</string>
			<key>name</key>
			<string>阳台</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/05/20160105_9ab83f433a1786b97e2evbi0mvu82pmo.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h1s7i0</string>
			<key>name</key>
			<string>书房</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/05/20160105_e17887bbe93f400b3bbcgzyhnebj53vg.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h1s8i0</string>
			<key>name</key>
			<string>玄关</string>
			<key>imageurl</key>
			<string>http://pic1.to8to.com/case/1601/06/20160106_91eae9e0f70203b5767evvgnn3l1s8od_sp.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h1s9i0</string>
			<key>name</key>
			<string>过道</string>
			<key>imageurl</key>
			<string>http://pic2.to8to.com/smallcase/1601/06/20160106_0ff5e4a65114b2ddf9c3k3ynjk4hprqv_s.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h6s33i0</string>
			<key>name</key>
			<string>榻榻米</string>
			<key>imageurl</key>
			<string>http://pic1.to8to.com/case/1601/03/20160103_d18c9223103a00b2b0aerqybhrhzl7nw.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h6s336i0</string>
			<key>name</key>
			<string>背景墙</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/05/20160105_b58ad4a86ec5a1b82f17ta88blvjz4vg.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h6s16i0</string>
			<key>name</key>
			<string>吊顶</string>
			<key>imageurl</key>
			<string>http://pic1.to8to.com/case/1601/05/20160105_380c52cbbb792d31d879v1tivx1whz2u.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h6s340i0</string>
			<key>name</key>
			<string>飘窗</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1511/30/20151130_cba8728ea67fe6f72821rfhrhbsgifjr.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h6s21i0</string>
			<key>name</key>
			<string>吧台</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/05/20160105_8f87193fc08446b67eee59bfz4jzwgwz.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h6s9i0</string>
			<key>name</key>
			<string>窗帘</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1512/31/20151231_4eb13dba07f5b5115d52r4vrs5k07345.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h6s17i0</string>
			<key>name</key>
			<string>橱柜</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1511/25/20151125_ea93e74c510d56a40aa67rrxqum22j55.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h6s24i0</string>
			<key>name</key>
			<string>衣柜</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/05/20160105_c7349cef65ecd1557662nc91c657djn9.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h6s23i0</string>
			<key>name</key>
			<string>鞋柜</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1512/22/20151222_f32d27a51c6a29d607c9xyik9x3nlifc.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h6s14i0</string>
			<key>name</key>
			<string>隔断</string>
			<key>imageurl</key>
			<string>http://pic1.to8to.com/case/1512/25/20151225_b5cef74c21eb71107daf4ro019j14211.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h6s19i0</string>
			<key>name</key>
			<string>窗户</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/05/20160105_b84d8e25b7895b26c9f7p9ri16ilmcnu.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h6s359i0</string>
			<key>name</key>
			<string>其他</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/06/20160106_27437b6119e7adc15dc48838fg0dc9lu.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=13&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>简约</string>
			<key>imageurl</key>
			<string>http://pic1.to8to.com/case/1512/05/20151205_83a0edce137da4a3fff89kjkrloqiaus.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=15&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>现代</string>
			<key>imageurl</key>
			<string>http://pic1.to8to.com/case/1512/31/20151231_7fbddd25517abd735851mnngx47q4p50.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=4&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>中式</string>
			<key>imageurl</key>
			<string>http://pic1.to8to.com/case/1601/06/20160106_65b8b426c9060c68333c5dig89nv4lr0.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=2&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>欧式</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/06/20160106_73e345370f6ae32eb135jexu9tkguczn.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=9&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>美式</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/04/20160104_b64ba258e313f9cbd3a0yafmazyibe7c.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=11&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>田园</string>
			<key>imageurl</key>
			<string>http://pic1.to8to.com/case/1511/19/20151119_b637f7a86a5be2e433baxcnng4otlgtz.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=6&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>新古典</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1511/23/20151123_8b86d08ccee6152fa816a6ftyyn82600.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=0&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>混搭</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/06/20160106_bb07bf4f5e58bf2b12282wepoqcton07.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=12&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>地中海</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1512/25/20151225_eaeacc68b49fdbeeb1cfed3qb0mgd96t.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=8&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>东南亚</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1511/19/20151119_cdbe9a7b1dbb19b311d9moaxnng0iuiu.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=17&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>日式</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1511/19/20151119_cdbe9a7b1dbb19b311d9moaxnng0iuiu.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=18&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>宜家</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1512/05/20151205_4367fb164e74da3e2316x3pws6z7r6t6.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=19&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>北欧</string>
			<key>imageurl</key>
			<string>http://pic.to8to.com/case/1601/06/20160106_bb07bf4f5e58bf2b12282wepoqcton07.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=20&amp;a7=&amp;a8=&amp;a9=0</string>
			<key>name</key>
			<string>简欧</string>
			<key>imageurl</key>
			<string>http://pic1.to8to.com/case/1601/04/20160104_a516ce28ded74927e595yrnzs8uqay5o.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h2s1i0</string>
			<key>name</key>
			<string>小户型</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h2s7i0</string>
			<key>name</key>
			<string>一居</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h2s2i0</string>
			<key>name</key>
			<string>二居</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h2s3i0</string>
			<key>name</key>
			<string>三居</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h2s4i0</string>
			<key>name</key>
			<string>四居</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h2s5i0</string>
			<key>name</key>
			<string>复式</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h2s6i0</string>
			<key>name</key>
			<string>别墅</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list-h2s8i0</string>
			<key>name</key>
			<string>公寓</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=0&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=&amp;a8=1&amp;a9=0</string>
			<key>name</key>
			<string>&lt;60平米</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=0&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=&amp;a8=2&amp;a9=0</string>
			<key>name</key>
			<string>60~80平米</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=0&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=&amp;a8=3&amp;a9=0</string>
			<key>name</key>
			<string>100~120平米</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=0&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=&amp;a8=4&amp;a9=0</string>
			<key>name</key>
			<string>120~150平米</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
		<dict>
			<key>interface</key>
			<string>http://xiaoguotu.to8to.com/list.php?a1=0&amp;a2=0&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=&amp;a8=5&amp;a9=0</string>
			<key>name</key>
			<string>&gt;150平米</string>
			<key>imageurl</key>
			<string>http://www.sj63.com/sj63_uploadfile/Photoshop/200606/20060615151015539.jpg</string>
		</dict>
	</array>
</array>
</plist>
