<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>空间</string>
		<key>subtitle</key>
		<string>Home</string>
	</dict>
	<dict>
		<key>title</key>
		<string>局部</string>
		<key>subtitle</key>
		<string>Layout</string>
	</dict>
	<dict>
		<key>title</key>
		<string>风格</string>
		<key>subtitle</key>
		<string>Style</string>
	</dict>
	<dict>
		<key>title</key>
		<string>户型</string>
		<key>subtitle</key>
		<string>Type</string>
	</dict>
	<dict>
		<key>title</key>
		<string>面积</string>
		<key>subtitle</key>
		<string>Acreage</string>
	</dict>
</array>
</plist>
